
<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("DashboardUser")

    </div>



    <div class="col-md-9">
        <div class="row">


            <div class="col-12  col-md-6">
                <a asp-area="scp" asp-controller="Dashboard" asp-action="ChangePassword" style="text-decoration:none;color:black;">
                    <div class="info-box mb-3">
                        <span class="info-box-icon elevation-1 text-danger" style="background-color:#FAFAFA;"><i class="fa fa-key"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">تغير كلمة المرور</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12  col-md-6">  </div>
            <div class="col-12  col-md-6">
                <a asp-area="scp" asp-controller="Dashboard" asp-action="ChangeImage" style="text-decoration:none;color:black;">
                    <div class="info-box">
                        <span class="info-box-icon elevation-1" style="background-color:#FAFAFA;color:violet;"><i class="fa fa-image"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">تغير الصورة</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12  col-md-6">  </div>
            
        </div>
    </div>
</div>