@model JeCenterWeb.Models.CDepartment

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <form asp-action="Delete" asp-route-id="@Model.DepartmentId" method="post">
        <input type="hidden" name="@Model.DepartmentId" />
        <input type="submit" value="حذف" class="btn btn-danger" />
    </form>
</div>


<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DepartmentId" />
            <div class="form-group">
                <label asp-for="DepartmentName" class="control-label"></label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <a class="btn btn-dark" asp-action="Index"> رجوع </a>
            </div>
        </form>
    </div>
</div>
