@model IEnumerable<JeCenterWeb.Models.CSlider>

@{
    ViewData["Title"] = "Index";
}

<a asp-action="Create" class="btn btn-primary"> أضافة سلايد </a>
</div>
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.Raw(item.Titel)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.SliderId"><i class="fa fa-eye"></i></a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.SliderId"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
