<div class="user-profile">
    <div class="username-dt">
        <div class="usr-pic">
            <img src="~/@ViewData["imgurlprofile"] " alt="">
        </div>
    </div>
    <div class="user-specs">
        <h3>  @ViewData["UserName"]  </h3>
    </div>
   
</div>