
<a asp-area="scp" asp-controller="Dashboard" class="btn btn-dark" style="width:150px;" asp-action="Index"> <i class="fa fa-dashboard"></i> الكوبونات </a>
<a asp-area="scp" asp-controller="Dashboard" class="btn btn-dark" style="width:150px;" asp-action="Treasury"> <i class="fa fa-dollar-sign"></i> الخزينة </a>
<a asp-area="scp" asp-controller="Dashboard" class="btn btn-dark" style="width:150px;" asp-action="Groups"> <i class="fa fa-users"></i> المجموعات </a>
<a asp-area="scp" asp-controller="Dashboard" class="btn btn-dark" style="width:150px;" asp-action="Reviews"> <i class="fa fa-chalkboard-teacher"></i> المراجعات </a>
<a asp-area="scp" asp-controller="Dashboard" class="btn btn-dark" style="width:150px;" asp-action="Exams"> <i class="fa fa-pen"></i> الامتحانات </a>
<a asp-area="scp" asp-controller="Dashboard" class="btn btn-dark" style="width:150px;" asp-action="TeachersPayments"> <i class="fa fa-user-secret"></i> المدرسين </a>
