<div class="card">
    <div class="card-header">
        <h3 class="card-title">الإشعارات</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a asp-action="NotiEmp" asp-controller="Discuss" asp-area="scp" class="nav-link">
                    <i class="fa fa-user-circle"></i> موظفين
                </a>
            </li>
            <li class="nav-item">
                <a asp-action="NotiGroup" asp-controller="Discuss" asp-area="scp" class="nav-link">
                    <i class="fa fa-restroom"></i> طلبة
                </a>
            </li>
        </ul>
    </div>

</div>

