 <!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
  
    <link rel="stylesheet" href="../../../cp/dist/css/printmedia.css" rel="stylesheet">
 

</head>
<body onload="window.print()" style="direction: rtl;">

    @RenderBody()

</body>
</html>
