@{
    ViewData["Title"] = "Contact US";
    Layout = "_Layout";
}
<div id="wrapper">

    <header class="header header-normal">
        <div class="topbar clearfix">
            <div class="container">
                <div class="row-fluid">
                    <div class="col-md-6 col-sm-6 text-left">
                        <p>
                            <strong><i class="fa fa-phone"></i></strong> +20 128 626 9747 &nbsp;&nbsp;
                            <strong><i class="fa fa-envelope"></i></strong> <a href="mailto:#">info@elra3ycenter.com</a>
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs text-right">
                        <div class="social">
                            <a class="facebook" href="https://www.facebook.com/Center-Elra3y-1466420133583848" data-tooltip="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <nav class="navbar navbar-default yamm">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="logo-normal">
                        <a class="navbar-brand" href="index.html"><img src="~/images/logo-dark.png" alt=""></a>
                    </div>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Login">تسجيل الدخول</a></li>
                        <li><a href="/Register">أشتراك مجاني</a></li>
                        <li><a href="/TeacherLogin">المدرس</a></li>
                        <li><a href="ContactUs">تواصل معنا</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section class="section db p120">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="tagline-message page-title text-center">
                        <h3>كن على تواصل معنا من خلال أحدى الروابط أسفل</h3>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section gb nopadtop">
        <div class="container">
            <div class="boxed boxedp4">
                <div class="row contactv2 text-center">
                    <div class="col-md-4">
                        <div class="small-box">
                            <i class="flaticon-email wow fadeIn"></i>
                            <h4>تواصل معنا الآن  </h4>
                            <small>Phone: +20 128 626 9747</small>
                            <p><a href="mail:to">info@elra3ycenter.com</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="small-box">
                            <i class="flaticon-map-with-position-marker wow fadeIn"></i>
                            <h4> فروعنا  </h4>
                            <small>الخلفاوي</small>
                            <small>روض الفرج</small>
                            <p><a href="#">  Google Map</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="small-box">
                            <i class="flaticon-share wow fadeIn"></i>
                            <h4> مواقع التواصل </h4>
                            <small>Facebook : </small>
                            <a target="_blank" href="https://www.facebook.com/Center-Elra3y-1466420133583848">Center-Elra3y</a>
                            <p><a href="#">Email Newsletter</a></p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="section-title text-center">
                            <h3> أرسل لنا وسنتواصل معك</h3>
                            <p>أكتب بياناتك  وأستفسارك وفي خلال 24 ساعة هايتواصل معاك أحد مندوبينا لخدمة الطلبة.</p>
                        </div>

                        <form class="big-contact-form" role="search">
                            <input type="text" class="form-control text-right" placeholder="أسمك">
                            <input type="email" class="form-control text-right" placeholder="بريدك الإليكتروني">
                            <input type="text" class="form-control text-right" placeholder="موبايلك">
                            <input type="text" class="form-control text-right" placeholder="عنوان الرسالة">
                            <textarea class="form-control text-right" placeholder="أكتب هنا أستفسارك أو ملاحظاتك"></textarea>
                            <button type="submit" class="btn btn-primary">أرسال</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="copyrights">
        <div class="container">
            <div class="clearfix">
                <div class="pull-left">
                    <div class="cop-logo">
                        <a href="#"><img src="~/images/logo.png" alt=""></a>
                    </div>
                </div>

                <div class="pull-right">
                    <div class="footer-links">
                        <ul class="list-inline">
                            <li>Design : <a href="#">Elra3y Center</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
