@model IEnumerable<JeCenterWeb.Models.ApplicationUser>
<div class="card-body">
    <div class="callout callout-danger">
        <h5>  <i class="fa fa-pen " style="color:maroon;"></i>  أختار المدرس لرؤية الامتحانات  </h5>
    </div>
</div>
<br />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <a asp-action="CloseExam" asp-route-id="@item.Id">
                <div class="info-box">
                    <span class="info-box-icon">
                     @*    <img src="~/@item.imgurl" height="65"> *@
                    </span>
                    <div class="info-box-content">
                        <span class="info-box-text"> @item.FullName </span>
                    </div>
                </div>
            </a>
        </div>
    }
</div>