@if (Convert.ToInt64(ViewData["noticount"]) > 0)
{
    <li>
        <h4>
            <a asp-action="Index" asp-controller="Notifications" asp-area="learning" style="font-size:16px;">@ViewData["notimessg"] <i class="fa fa-bell"></i> </a>
        </h4>
    </li>
}
else
{
    <li>
        <h4>
            <a asp-action="Index" asp-controller="Notifications" asp-area="learning" style="font-size:16px;">@ViewData["notimessg"] <i class="fa fa-bell-o"></i></a>
        </h4>
    </li>
}