@{
    ViewData["Title"] = "Notifications";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <partial name="_NotiMenu" />
            </div>
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">  الإشعارات  </h3>
                    </div>
                    <img src="~/images/Notifications/default.jpg" alt="Alternate Text" />
                </div>
            </div>
        </div>
    </div>
</section>