@model JeCenterWeb.Models.ViewModel.StudentUserViewModel

@{
    ViewData["Title"] = "Add Student";

}
<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="UserType" class="control-label"></label>
                        <select asp-for="UserType" class="form-control">
                            <option value="4">  مستخدم </option>
                            <option value="3"> مشرف </option>
                            <option value="2"> أدمن </option>
                            <option value="1"> سوبر أدمن </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label asp-for="AdvancedPermission" class="control-label"></label>
                        <input asp-for="AdvancedPermission" class="form-control" />
                        <span asp-validation-for="AdvancedPermission" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div>
                    <label asp-for="imgurl" class="control-label"></label>
                    <input class="form-control" asp-for="imgurl" type="file">
                </div>
                <span asp-validation-for="imgurl" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" readonly="readonly" value="@ViewBag.Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>

                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">تحديث</label>
                        <a asp-action="Create" class="btn btn-secondary"> <i class="fa fa-spinner"></i>  </a>
                    </div>
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-info" /> |
                <a asp-action="Index" class="btn btn-dark"> رجوع  </a>
            </div>
        </div>

    </div>
</form>

