@{
    ViewData["Title"] = "Check Copoun";
}


<form asp-action="CheckCoupon" method="get">
    <div class="row">
        <div class="col-2">
            <input name="id" class="form-control" placeholder="بحث" value="@ViewData["CurrentFilter"]" />
        </div>
        <div class="col-4">
            <input type="submit" value="أستعلام" class="btn btn-primary btn-block" />
        </div>
    </div>
</form>
<br />