@model JeCenterWeb.Models.ViewModel.CreateStudentViewModel
@{
    ViewData["Title"] = "Index";
}
<form asp-action="Create">
    <div class="row">
        <div class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row" style="direction:rtl;">

        <div class="col-md-6 text-right">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="FristName" class="form-control" placeholder="أسم الطالب / ة" />
                        <span asp-validation-for="FristName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="SecondName" class="form-control" placeholder="أسم الأب" />
                        <span asp-validation-for="SecondName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="LastName" class="form-control" placeholder="أسم الجد" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="FamilyName" class="form-control" placeholder="أسم العائلة" />
                        <span asp-validation-for="FamilyName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="Mobile" class="form-control" placeholder=" رقم الموبايل" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" readonly="readonly" value="@ViewBag.Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label class="control-label">تحديث</label>
                        <a asp-action="Create" class="btn btn-secondary"> <i class="fa fa-spinner"></i>  </a>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input asp-for="Birthdate" class="form-control" type="date" placeholder="تاريخ الميلاد" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
                <input type="submit" value="حساب جديد" class="btn btn-primary btn-lg btn-block" style="padding-left: 2.5rem; padding-right: 2.5rem;" />
            </div>
        </div>
        <div class="col-md-6 text-right">
            <div class="form-group">
                <input asp-for="School" class="form-control" placeholder="المدرسة" />
                <span asp-validation-for="School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Address" class="form-control" placeholder=" العنوان" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="NationalID" class="form-control" placeholder=" الرقم القومي" />
                <span asp-validation-for="NationalID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ParentJob" class="form-control" placeholder="وظيفة ولي الأمر" />
                <span asp-validation-for="ParentJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ParentMobile" class="form-control" placeholder="رقم ولي الامر" />
                <span asp-validation-for="ParentMobile" class="text-danger"></span>
            </div>

        </div>
    </div>

</form>