@model IEnumerable<JeCenterWeb.Models.CBlogs>

<section class="blog_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h1 class="text-center">
                مقالات
            </h1>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4 mx-auto">
                    <div class="card">
                        
                            <img src="~/@item.BlogImage" alt="" class="card-img-top" >
                       
                 
                        <div class="card-body">
                            <h4 class="card-title">
                                @item.BlogTitle
                            </h4>

                            <a href="/Blogs/Article/@item.BlogsId" class="btn btn-secondary">
                                أقرأ المقال
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
